body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:280px;
  width:50px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:530px;
  top:310px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2_ref {
  position:absolute;
  left:622px;
  top:360px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:274px;
  top:40px;
  width:100px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:274px;
  top:148px;
  width:100px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:274px;
  top:256px;
  width:100px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:274px;
  top:364px;
  width:100px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:274px;
  top:472px;
  width:100px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:274px;
  top:580px;
  width:100px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:274px;
  top:70px;
  width:0px;
  height:540px;
}
#u16_seg0 {
  position:absolute;
  left:-74px;
  top:-10px;
  width:78px;
  height:20px;
}
#u16_seg1 {
  position:absolute;
  left:-74px;
  top:-10px;
  width:20px;
  height:560px;
}
#u16_seg2 {
  position:absolute;
  left:-74px;
  top:530px;
  width:78px;
  height:20px;
}
#u17 {
  position:absolute;
  left:-114px;
  top:262px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:374px;
  top:70px;
  width:0px;
  height:540px;
}
#u18_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:100px;
  height:20px;
}
#u18_seg1 {
  position:absolute;
  left:76px;
  top:-10px;
  width:20px;
  height:560px;
}
#u18_seg2 {
  position:absolute;
  left:-4px;
  top:530px;
  width:100px;
  height:20px;
}
#u19 {
  position:absolute;
  left:36px;
  top:262px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:100px;
  top:320px;
  width:110px;
  height:0px;
}
#u20_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:124px;
  height:20px;
}
#u21 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:274px;
  top:178px;
  width:-64px;
  height:2px;
}
#u22_seg0 {
  position:absolute;
  left:-74px;
  top:-10px;
  width:78px;
  height:20px;
}
#u22_seg1 {
  position:absolute;
  left:-74px;
  top:-10px;
  width:20px;
  height:16px;
}
#u23 {
  position:absolute;
  left:-83px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:274px;
  top:286px;
  width:-64px;
  height:4px;
}
#u24_seg0 {
  position:absolute;
  left:-74px;
  top:-10px;
  width:78px;
  height:20px;
}
#u24_seg1 {
  position:absolute;
  left:-74px;
  top:-10px;
  width:20px;
  height:18px;
}
#u25 {
  position:absolute;
  left:-84px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:274px;
  top:394px;
  width:-64px;
  height:6px;
}
#u26_seg0 {
  position:absolute;
  left:-74px;
  top:-10px;
  width:78px;
  height:20px;
}
#u26_seg1 {
  position:absolute;
  left:-74px;
  top:-10px;
  width:20px;
  height:20px;
}
#u27 {
  position:absolute;
  left:-85px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:274px;
  top:502px;
  width:-64px;
  height:-2px;
}
#u28_seg0 {
  position:absolute;
  left:-74px;
  top:-10px;
  width:78px;
  height:20px;
}
#u28_seg1 {
  position:absolute;
  left:-74px;
  top:-6px;
  width:20px;
  height:16px;
}
#u29 {
  position:absolute;
  left:-83px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:530px;
  top:340px;
  width:-70px;
  height:0px;
}
#u30_seg0 {
  position:absolute;
  left:-74px;
  top:-10px;
  width:84px;
  height:20px;
}
#u31 {
  position:absolute;
  left:-85px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
